/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS COLORS===============*/
:root {
  --title-color: hsl(207, 12%, 15%);
  --text-color: hsl(207, 12%, 45%);
  --body-color: hsl(0, 0%, 99%);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.3s;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.change-theme {
  top: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.change-theme:hover {
  color: hsl(207, 90%, 61%);
}

/*========== Variables Dark theme ==========*/
.dark-theme {
  --title-color: hsl(207, 12%, 95%);
  --text-color: hsl(207, 12%, 75%);
  background-color: hsl(207, 40%, 8%);
}

.skill-color {
  color: hsl(207, 12%, 95%);
}

.theme-button-sun {
  color: hsl(207, 12%, 75%);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== PROFILE ===============*/
.profile {
  padding-top: 3.5rem;
}

.profile-container {
  row-gap: 2rem;
}

.profile-data {
  display: grid;
}

.profile-perfil {
  width: 130px;
  height: 130px;
  background: linear-gradient(
    180deg,
    hsla(207, 90%, 61%, 1) 0%,
    hsla(207, 90%, 61%, 0.2) 100%
  );
}

  .profile-perfil img {
    width: 90% !important;
  }


.profile-border {
  border: 3.5px solid hsl(207, 90%, 61%);
  justify-self: center;
  width: 145px;
  height: 145px;
  display: grid;
  place-items: center;
}

.profile-name {
  font-size: calc(1.275rem + 0.3vw);
}

.profile-profession {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

.profile-social {
  column-gap: 0.75rem;
}

.profile-social-link {
  transition: 0.3s;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  box-shadow: 0 8px 24px hsla(207, 90%, 61%, 0.25);
  transition: 0.3s;
}

.button-whatsapp {
  background: hsl(207, 8%, 92%) !important;
  color: var(--title-color);
}

.button-whatsapp:hover {
  background: #c6c7c8 !important;
}

.profile-buttons {
  column-gap: 1rem;
}

/*=============== FILTERS TABS ===============*/
.btn-group {
  background-color: #c6c7c8;
}

.filters_button {
  font-weight: 500 !important;
  transition: 0.3s;
}

/*=============== PROJECTS ===============*/
.projects-content {
  max-width: 600px;
  transition: 0.3s;
}

.card {
  width: 18rem;
}

.card img {
  width: 100%;
  height: 100%;
  max-height: 178.89px;
}

.projects-modal {
  bottom: -100%;
  background: linear-gradient(
    180deg,
    hsla(207, 24%, 40%, 0.3) 0%,
    hsla(207, 24%, 4%, 1) 95%
  );
  transition: 0.3s;
}

.projects-subtitle {
  font-size: 0.75rem;
}

.card:hover .projects-modal {
  bottom: 0;
}

/*=============== SKILLS ===============*/
.skill-content {
  transition: 0.3s;
}

/* Hide and show projects & skills */

/* Activate button filter */

/*=============== FOOTER ===============*/
.footer-copy {
  font-size: 0.75rem;
  color: hsl(207, 8%, 75%);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(207, 8%, 66%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(207, 8%, 54%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 8%, 44%);
}

/*=============== MEDIA ===============*/
@media (min-width: 968px) {
  .profile-perfil {
    width: 200px;
    height: 200px;
  }

  .profile-perfil img {
    width: 90% !important;
  }

  .profile-border {
    width: 215px;
    height: 215px;
  }

  .profile-name {
    font-size: calc(1.5rem + 0.3vw);
  }

  .profile-profession {
    font-size: 1.25rem;
  }

  .fa-linkedin, .fa-github{
    font-size: 1.5rem;
  }

  .skill-img {
    width: 75px;
  }
}
